# Fake news detection

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn import feature_extraction, linear_model, model_selection, preprocessing
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

# Mount google drive

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

# Read the dataset from google drive

In [3]:
df=pd.read_csv('/content/gdrive/MyDrive/train.csv')

In [4]:
df.columns

Index(['Unnamed: 0', 'id', 'headline', 'written_by', 'news', 'label'], dtype='object')

In [5]:
df.shape

(20800, 6)

In [9]:
#finding any missing data
missing_data = df.isnull()
missing_data.head(5)

   Unnamed: 0     id  headline  written_by   news  label
0       False  False     False       False  False  False
1       False  False     False       False  False  False
2       False  False     False       False  False  False
3       False  False     False       False  False  False
4       False  False     False       False  False  False

In [7]:
#data types
df.dtypes

Unnamed: 0     int64
id             int64
headline      object
written_by    object
news          object
label          int64
dtype: object